$color-white: #ffffff;
$color-black: #000000;
$color-blue: #4c74f6;
$color-gray1: #f3f3f3;
$color-red: #ff5959;

$color-text-gray: #7e7e7e;
$color-text-gray2: #757575;
$color-text-gray3: #333333;
$color-text-gray4: #9197b3;
$color-text-gray5: #313131;
$color-text-gray6: #717171;

$bg: #f3f3f3;

$transition: all linear .3s;

$chartBarColor : #4c74f6