@import 'src/assets/scss/variables';

@import 'src/assets/scss/variables';
.navigationButtons {
  position: absolute;
  left: 400px;
  z-index: 100;
}
.calendarBody {
  position: relative;
  width: 100%;
  background-color: $color-white;
  border-right: $border;
  .calendarBody__calendarSearch {
    width: 330px;
    background-color: $color-white;
    position: absolute;
    z-index: 15;
    border-right: $border;
    border-left: $border;
  }
  /*
  .calendarBody__months {
    position: absolute;
    left: 345px;
    z-index: 15;
    margin-top: 12px;
    font-size: 16px;
  }
  */
  //Календар
  .react-calendar-timeline {
    //header
    .rct-calendar-header {
      border: none;
      > div {
        height: 33px !important;
      }
    }
    .rct-dateHeader-primary {
      color: $color-black;
      border-right: none;
    }
    .rct-header-root {
      background-color: $color-white;
      color: $color-black;
      border-bottom: $border;
    }
    .rct-dateHeader {
      border-bottom: none;
      border-left: none;
      background-color: $color-white;
    }
    //Відмітка поточного часу
    .rct-scroll {
      > div:first-child {
        > div:first-child {
          background-color: $color-blue !important;
          width: 1px !important;
          // height: 2px; /* Висота лінії */
        }
      }
    }

    //sidebar
    .rct-sidebar {
      border-right: $border;
      border-left: $border;
      left: 0;
      .rct-sidebar-row {
        border-bottom: $border;
        padding-left: 55px;
        background-image: url('../../../assets/icons/calendar-surf.svg') !important;
        background-repeat: no-repeat !important;
        background-position: 25px 18px !important;
        background-color: $color-white !important;
      }
      .rct-sidebar-row-odd {
        background-color: $color-white !important;
      }
    }
    //активна планка
    .rct-item {
      background-color: rgba(93, 181, 93, 0.5) !important;
      border: none !important;
      color: $color-black !important;
    }
    //горизонтальна лінія
    .rct-horizontal-lines {
      .rct-hl-even,
      .rct-hl-odd {
        border-bottom: $border;
        background-color: rgba(0, 0, 0, 0.02)!important;
      }
    }
    
    //Вертикальна лінія
    .rct-vertical-lines {
      .rct-vl {
        border-left: $border;
        background-color: rgba(0, 0, 0, 0.01)!important;;
      }
      //відмітка неділя вихідний
      .rct-vl.rct-day-0,
      .rct-vl.rct-day-6 {
        background-color: rgba(0, 0, 0, 0.01)!important;;
      }
    }
  }
}
