@import 'src/assets/scss/variables';

@import 'src/assets/scss/variables';
.navigationButtons {
  position: absolute;
  left: 400px;
  z-index: 100;
}
.calendarBody {
  position: relative;
  width: 100%;
  background-color: $color-white;
  border-right: $border;
  .calendarBody__calendarSearch {
    background-color: $color-white;
    z-index: 15;
    border-right: $border;
    border-left: $border;
   // box-shadow: 10px 0px 35px rgba(0, 0, 0, 0.15);
  }
  //Календар
  .react-calendar-timeline {
    //скролл для блоку   потестити
    .rct-outer{
      height: calc(100vh - 145px)!important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .rct-scroll{  
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    //header
    .rct-calendar-header {
 

      border: none;
      > div {
        height: 33px !important;
      }
    }
    .rct-dateHeader-primary {
      color: $color-black;
      border-right: none;
    }
    .rct-header-root {
      background-color: $color-white;
      color: $color-black;
      border-bottom: $border;
    }
    .rct-dateHeader {
      border-bottom: none;
      border-left: none;
      background-color: $color-white;
      color: rgba(34, 34, 34, 1);
    }
    //Відмітка поточного часу
    .rct-scroll {
      > div:first-child {
        > div:first-child {
          background-color: $color-blue !important;
          width: 1px !important;
        }
      }
    }

    //sidebar
    .rct-sidebar {
      border-right: $border;
      border-left: $border;
      left: 0;
      box-shadow: 4px 0px 35px 0px rgba(0, 0, 0, 0.15);
      z-index: 20;
      .rct-sidebar-row {
        border-bottom: $border;
        padding-left: 55px;
        background-image: url('../../../assets/icons/calendar-surf.svg') !important;
        background-repeat: no-repeat !important;
        background-position: 25px 18px !important;
        background-color: $color-white !important;
  
      }
      .rct-sidebar-row-odd {
        background-color: $color-white !important;
      }
    }
    //активна планка
    .rct-item {
      position: relative;
      background-color: rgba(93, 181, 93, 0.5) !important;
      border: none !important;
      color: $color-black !important;
      clip-path: polygon(
        0 1px,
        calc(100% - 44px) 1px,
        calc(100% - 1px) calc(100% - 1px),
        0 calc(100% - 1px)
      );
    }

    .rct-item:hover::after {
      content: attr(data-info);
      position: absolute !important;
      display: flex;
      align-items: center;
      justify-content: start;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-left: 5px;
      color: $color-black;
      background-color: rgba(93, 181, 93, 1) !important;
      text-wrap: nowrap;
    }

    //горизонтальна лінія
    .rct-horizontal-lines {
      .rct-hl-even,
      .rct-hl-odd {
        border-bottom: $border;
        background-color: rgba(0, 0, 0, 0.02) !important;
      }
    }

    //Вертикальна лінія
    .rct-vertical-lines {
      .rct-vl {
        border-left: $border;
        background-color: rgba(0, 0, 0, 0.01)!important;
      }
      //відмітка неділя вихідний
      .rct-vl.rct-day-0,
      .rct-vl.rct-day-6 {
        background-color: rgba(0, 0, 0, 0.01) !important;
      }
    }
  }
}

.selected::after {
  content: attr(data-info);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $color-black;
  background-color: rgba(93, 181, 93, 0.9) !important;
  padding: 5px;
}
