@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';


.chat {
  @include flex_block(row, nowrap, flex-start);

  width: 100%;
  height: 100vh;

  &__users {
    width: 412px;
  }

  &__room{
    flex-grow: 1;
  }
}
