@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';


.user {
  &__list {
    height: 100vh;

    padding: 5px 8px;
    background-color: $color-white;

    overflow-y: scroll;
  }

  &__item {

  }
}
