// move to Bar Chat page {

// }

.apexcharts-bar-area:hover {
    fill: #4C74F6;
}

.apexcharts-toolbar {
    display: none !important;
}

.arrow_box {
    padding: 5px;
    text-align: center;
    span {}
}