//! temporary
main {
  width: 100%;
}

* {
  box-sizing: border-box;
}
//! temporary

@import '../../assets/scss/mixins';

.statisticBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  padding: 16px;
  flex-direction: column;
  gap: 10px;
  width: min-content;
  border-radius: 20px;

  @include phone {
    padding: 16px 32px;
  }

  @include desktop {
    flex-direction: row;
    padding: 32px 64px;
    width: 100%;
    height: 151px;
    border-radius: 30px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.itemImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 50%;
  height: 58px;
  width: 58px;

  @include desktop {
    height: 84px;
    width: 84px;
  }
}

.itemImg {
  height: 28px;
  width: 28px;

  @include desktop {
    height: 42px;
    width: 42px;
  }
}

.statistic {
  display: flex;
  align-items: end;
  font-size: 12px;
  white-space: nowrap;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
}

.delimiter {
  width: 100%;
  border-top: 1px solid #f0f0f0;
  border-left: none;

  @include desktop {
    width: auto;
    height: 100%;
    border-top: none;
    border-left: 1px solid #f0f0f0;
  }
}

.title {
  margin-bottom: 6px;

  @include desktop {
    margin-bottom: 9px;
  }
}

.count {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 3px;

  @include desktop {
    font-size: 32px;
    margin-bottom: 6px;
  }
}

.statisticImg {
  margin-right: 3px;
}

.statisticPercentPositive {
  margin-right: 3px;
  color: #4c956c;
}

.statisticPercentNegative {
  margin-right: 3px;
  color: #ff5959;
}
