
.search {
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    
    &__input {
        width: 0;
        max-width: 360px;
        height: 30px;      
        border: none;
        transition: width 0.8s ease;
        animation-duration: 0.8s;
        &:focus-visible{
            outline: none;
        }
    }
}

